.input-code-demo-field {
  margin: 60px auto 0;
  width: 510px;
  height: 112px;
  border: 2px solid #EAEAEA; /*no*/
  border-radius: 56.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-code-demo-content {
  width: 232px;
  height: 100%;
}
.input-code-demo-btn-field {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}