.toast-demo-field {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.toast-demo-field-btn {
  margin: 0 0 40px;
  padding: 10px 40px;
  border: 1px solid #000;
  border-radius: 30px;
  text-align: center;
}
